* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

body {
  background: #33374b;
}

.home, .fibonacci {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}